@model KeepNotes.Models.Note

@{
    ViewData["Title"] = "Edit";
}
<div class="col-auto my-4">
    <div class="col-4">
<h1>Edit</h1>

<h4>Note</h4>
<hr />

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" value="@Model.Title" />

                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" value="@Model.Text" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isPublic" /> @Html.DisplayNameFor(model => model.isPublic)
                </label>
            </div>
            <div class="form-group">
                Shared To:<br />
                @{
                    int i = 0;
                }
                @foreach (var itemnote in ViewBag.shareusers)
                {
                    <label class="form-check-label">
                        <input name="username" class="form-control" value="@itemnote" readonly />
                    </label>
                    <span>
                    <input type="checkbox" name="shareduserid" value="@ViewBag.shareuserid[i]" class="btn btn-danger" />
                    <label class="text-danger">Remove Access</label><br/>
                    </span>
                    i++;
                }
                <div class="form-group my-2">
                    <label asp-for="ShareMails" class="control-label">Share Notes To Others:</label>
                    <input asp-for="ShareMails" class="form-control" />
                    <span asp-validation-for="ShareMails" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
        <a asp-action="Delete" asp-route-id="@Model.NoteId">Delete The Note</a>


<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
