@model IEnumerable<KeepNotes.Models.Note>

@{
    ViewData["Title"] = "Keep Notes | Notes-Index";
}
<div class="col-auto m-4">
<div class="text-center">
<h1>Index</h1>
<p class="h3">
    <a asp-action="Create">Create New</a>
</p>
    </div>
        <table class="table table-borderless container table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.notes) {
        <tr>
            <td>
               @item.Title
            </td>
            <td>
               @item.Text
            </td>
            <td>
                @{ 
                    var catName = "";
                }
                @foreach (var itemcat in ViewBag.categories)
                { 
                  if(itemcat.CategoryId == item.CategoryId)
                    {
                        catName = itemcat.Name;
                    } 
                }
                @catName
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NoteId">Edit</a> 
            </td>
        </tr>
}
    </tbody>
</table>
</div>
